{% extends "base.html" %}


{% block content %}
    <p>... тут список всех устройств в этом кабинете ... </p>
    <h2> Кабинет № {{object.name}}</h2>
    <ul>
    {% if devices %}
        {% for device in devices %}
        <li><a href={% url "devices:usable_printers" device.inv_number %}>
            {{device.printer.name}} -
            {{device.inv_number}} -
            {{device.status}} 
            
            {% if device.ip_adress %}
            - {{device.ip_adress}}
            {% endif %}
            
            {% if device.host_name %}
            - {{device.host_name}}
            {% endif %}
            
        </a></li>        
        {% endfor %}
    </ul>
    {% else %}
    <p>устройств не обнаружено</p>
    {% endif %}

{% endblock content %}