{% extends "base.html" %}


{% block content %}
<p>... тут информация по конкретному картриджу ... </p>
    <p>{{cartrige.name}} - {{cartrige.amount}} шт. </p>
    <br>

    <p>Совместимые принтеры:<br>
    Используемые на площадке (по-умолчанию) | в организации | все</p>

    
    <ul> 
        {% for device in devices %}
            <li>
                <a href="{% url "devices:usable_printers" device.inv_number %}">
                    кабинет: {{device.cabinet.name}} | 
                    {{device.printer.name}} - 
                    {{device.inv_number}}
                    - {{device.status}}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}