{% extends "base.html" %}


{% block content %}
<p>... тут информация по виду принтеров ... </p>
    <p>{{printer.name}}</p>
    <p>{{printer.amount}}</p>
    <br>
        <p>Используемые принтеры этой модели:</p>
    <ul> 
        {% for device in devices %}
            <li>
                <a href="{% url "devices:usable_printers" device.inv_number %}">
                    кабинет: {{device.cabinet.name}} устройство: {{device.inv_number}} - {{device.status}}
                </a>
            </li>
        {% endfor %}
    </ul>    
    
    <p>Совместимые расходники:</p>
    <ul> 
        {% for cartrige in cartriges %}
            <li>
                <a href="{% url "cartriges:detail" cartrige.slug %}">
                    {{cartrige.name}} = {{cartrige.amount}} шт.
                </a>
            </li>
        {% endfor %}
    </ul>    
{% endblock content %}